In [1]:
####This is just for me to explore a dataset of all NASA astronauts

##importing libraries:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
astronautData = pd.read_csv("C:\\Users\\fabri\\OneDrive\\Documents\\DasText\\csvFiles\\astronauts.csv")
astronautData.head(3)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN

In [3]:
#How many astronauts have there been?
numOfAstronuats = len(astronautData)
print("Number of astronauts recorded: %.0i" % numOfAstronuats+"\n")

#Who was the first? 
print("One of the first astronauts was "+astronautData.at[astronautData['Year'].idxmin(),'Name']
      +" in %.4i"% astronautData['Year'].min())

Number of astronauts recorded: 357

One of the first astronauts was M. Scott Carpenter in 1959

In [4]:
#### HOW MANY GRADUATED FROM MIT?
MITgrads = astronautData[astronautData['Alma Mater'].str.contains("MIT")== True]
print("Percentage of astronauts who were MIT graduates %.2f" % float(len(MITgrads)/357*100)+"%")

Percentage of astronauts who were MIT graduates 10.08%

In [5]:
####HOW MANY WERE ELECTRICAL ENGINEERS?
EEdf = astronautData[astronautData['Undergraduate Major'] == "Electrical Engineering"]
print("Percentage of astronauts who were EE undergraduates %.2f" % float(len(EEdf)/357*100)+"%")

Percentage of astronauts who were EE undergraduates 6.44%

In [6]:
####HOW MANY WERE ELECTRICAL ENGINEERS FROM MIT?
MITEEs = astronautData[(astronautData['Alma Mater'].str.contains("MIT")== True) 
                       & (astronautData['Undergraduate Major'] == "Electrical Engineering")]
print("Percentage of astronauts who were EE MIT graduates %.2f" % float(len(MITEEs)/357*100)+"%")

Percentage of astronauts who were EE MIT graduates 0.84%