In [1]:
##It is reccomended that you read the textFileManipulation Program first
##WELCOME to how to read a csv file!

##we are going to need to import pandas in order to use .read_csv()
import pandas as pd

In [2]:
##main Location of my test csv files:
mainLoc = "C:\\Users\\fabri\\OneDrive\\Documents\\DasText\\csvFiles"
##states csv file for testing:
statesLoc = mainLoc + "\\States.csv"

In [3]:
##we are going to have to use a dataframe to read in these csv files
statesDf = pd.read_csv(statesLoc)

In [4]:
##use df.head() to show first 5 entries... just like in R
statesDf.head()

  date state  positive  negative  death
0  4-2    AK     143.0    4879.0    3.0
1  4-2    AL    1233.0    7503.0   32.0
2  4-2    AR     643.0    7880.0   12.0
3  4-2    AS       0.0      20.0    0.0
4  4-2    AZ    1598.0   21111.0   32.0

In [5]:
##we are going to make another column to show total amount of people tested! Use .apply()
statesDf['totalTested'] = statesDf.apply(lambda row: row.positive + row.negative,axis =1)

In [6]:
##lets see it now
statesDf.head()

  date state  positive  negative  death  totalTested
0  4-2    AK     143.0    4879.0    3.0       5022.0
1  4-2    AL    1233.0    7503.0   32.0       8736.0
2  4-2    AR     643.0    7880.0   12.0       8523.0
3  4-2    AS       0.0      20.0    0.0         20.0
4  4-2    AZ    1598.0   21111.0   32.0      22709.0

In [7]:
##perfect! What if I just wanted the date of 4-1? 
## let's create a new data frame based on this condition!
aprilFoolsDf  = statesDf[statesDf['date']=='4-1']

In [8]:
##let's check it out using head...
aprilFoolsDf.head()

   date state  positive  negative  death  totalTested
56  4-1    AK     133.0    4470.0    3.0       4603.0
57  4-1    AL    1077.0    6697.0   26.0       7774.0
58  4-1    AR     584.0    7354.0   10.0       7938.0
59  4-1    AS       0.0      20.0    0.0         20.0
60  4-1    AZ    1413.0   19645.0   29.0      21058.0

In [9]:
##Nice! Now, let's modify it to only include the state and death counts
## We are going to want to save this new df as a CSV file called "AprilFoolsDeaths"
deathsDf = aprilFoolsDf[['state','death']]

In [10]:
##lets check it out to make sure it's right:
deathsDf.head()

   state  death
56    AK    3.0
57    AL   26.0
58    AR   10.0
59    AS    0.0
60    AZ   29.0

In [11]:
#Perfect! Let's save it as a new csv file now!
deathsPath = mainLoc+"\\AprilFoolsDeaths.csv"
deathsDf.to_csv(deathsPath)

In [12]:
##Again, we can open it on our computer or just see it here:
pd.read_csv(deathsPath).head()

   Unnamed: 0 state  death
0          56    AK    3.0
1          57    AL   26.0
2          58    AR   10.0
3          59    AS    0.0
4          60    AZ   29.0

In [13]:
#Nice! Weird second column though... how to erase? 
## first save it to a dataframe, then just use df[['column1,column2']]

In [14]:
##Congrats! See plottingExamples to see how to plot frequencies and other cool, useful graphs!